{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Chessmania</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, nobis veniam! Natus ad harum tenetur dolore delectus expedita quas suscipit laboriosam aliquam nobis at, vero qui dignissimos atque earum commodi.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/chess.jpeg" alt="Ajedrez" class="img-thumbnail">
    </div>
</div>

{{> footer }}

      